/* common styles */

body {
  color: #eefbfb;
  background: #12232e; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding-top: 200px;
}

.loader {
  text-align: center;
  margin: -25vh auto 0vh;
  z-index: 2;
  position: relative;
}

.form {
  margin: 0 auto;
  width: 30%;
  background-color: #203647;
  border-radius: 10px;
  padding: 30px;
  text-align: left;
  z-index: 1;
  position: static;
}


.input {
  color: #eefbfb;
  width: 80%;
  display: block;
  margin: 0 auto;
  outline: 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #eefbfb;
  padding-top: 10px;
  font-size: 1.3rem;
}

.inputField {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
}

.label {
  margin-right: 0;
  display: block;
}

.submit-button {
  display: block;
  margin: 30px auto;
  width: 30%;
  height: 40px;
  color: #eefbfb;
  border: 0;
  background-color: rgba(0, 124, 199, 0.5);
  border-radius: 10px;
  font-size: 1.2rem;
}

.submit-button:hover {
  background-color: rgba(0, 124, 199, 0.7);
}

.submit-button:focus {
  outline: none;
  box-shadow: none;
}

.submit-button:active {
  background-color: rgba(0, 124, 199, 1);
}

.error {
  text-transform: capitalize;
  text-align: center;
  color: red;
  z-index: 1;
  position: relative;
}

.nav-bar {
  margin-bottom: 10px;
  background: #007cc7;
}

.nav-list {
  margin: 0;
}

.nav-link {
  display: inline-block;
  padding: 30px;
  text-decoration: none;
  padding-right: 2%;
  color: #12232e;
}